* { margin: 0; padding: 0; }

body {
	background-color: #eee;
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100vh;
	height: max-content;
}
main {
	padding: 0 20vw;
	height: 100%;
	display: grid;
	grid-template-rows: max-content 25vh max-content;
}
#banner {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
#title {
	color: black;
	padding: 2rem 4rem;
	font-size: 2rem;
	width: max-content;
	width: calc(100% - 8rem);
	text-align: center;
}
#info1 {
	padding: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 1rem;
}
#info1 div {
	background-color: #ddd;
}
#info1 div h2 {
	padding: 1rem 1.2rem;
	color: black;
}
#info1 div h3 {
	padding: 1rem 1.2rem;
	padding-top: 0;
	font-weight: normal;
}
#stats-title {
	text-align: center;
	padding: 3rem 0 1rem 0;
	font-size: 2rem;
	position: relative;
}
#stats-link {
	position: absolute;
	padding: 0.5rem 0.7rem;
	bottom: 0; right: 0;
	font-size: 1rem;
}
#stat-imgs {
	background-color: #ddd;
	display: grid;
	padding: 1rem;
	gap: 1rem;
	grid-template-columns: 1fr 1fr;
}
#stat-imgs img {
	width: 100%;
}

footer {
	background-color: #333;
	padding: 2rem;
	margin-top: 10rem;
}
footer h2 {
	text-align: center;
	color: white;
}
footer h2 a {
	color: #c5f8ff;
}

@media only screen and (max-width: 750px) {
	main {
		padding: 0;
	}
	#info1 {
		grid-template-columns: 1fr;
	}
}


/* #region | Pictures */
.taking-test {
	background-image: url("https://images.unsplash.com/photo-1534644107580-3a4dbd494a95?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGVzdHxlbnwwfHwwfHw%3D&w=1000&q=80");
}
/* #endregion */

/* Links
achievement gap article: https://ed100.org/lessons/gaps
income achievement gap: https://ed100.org/uploads/images/shares/Gaps-income.png
ethnic achievement gap: https://ed100.org/uploads/images/shares/Gaps-ethnic.png
*/