* { margin: 0; padding: 0; }

body {
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100vh;
	height: max-content;
	padding: 0 20vw;
}
main {
	background-color: #fff;
	height: 100%;
	display: grid;
	grid-template-rows: max-content 25vh max-content;
}
#banner {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
#title {
	background-color: #ffffffaa;
	color: black;
	padding: 2rem 4rem;
	font-size: 2rem;
	width: max-content;
	width: calc(100% - 8rem);
	text-align: center;
}
#info1 {
	padding: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 1rem;
}
#info1 div {
	background-color: #eee;
}
#info1 div h2 {
	padding: 1rem 1.2rem;
	color: black;
}
#info1 div h3 {
	padding: 1rem 1.2rem;
	padding-top: 0;
	font-weight: normal;
}

@media only screen and (max-width: 750px) {
	body {
		padding: 0;
	}
	#info1 {
		grid-template-columns: 1fr;
	}
}


/* #region | Pictures */
.taking-test {
	background-image: url("https://images.unsplash.com/photo-1534644107580-3a4dbd494a95?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGVzdHxlbnwwfHwwfHw%3D&w=1000&q=80");
}
/* #endregion */